@using E_ticaret.Models;

@{
    ViewBag.Title = "Anasayfa";
}


@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@

<div class="jumbotron" style="background-image:url(https://image.shutterstock.com/image-photo/shopping-girl-260nw-516983689.jpg)">
    <div style="margin-left:35%"><h3>MVC E-Ticaret Projesi</h3></div>
</div>

<div class="row">
    <div class="col-md-3">
        <h4 class="myclass">Kategoriler</h4>
        <ul>
            @foreach (var item in (List<Kategori>)ViewBag.KategoriListesi)
            {
                <li>@Html.ActionLink(item.Kategoriadi, "Kategori", new { id = item.KategoriID }, new { @class = "myclass" })</li>
            }
        </ul>
    </div>
    <div class="container col-md-9 row">
        @foreach (var item in (List<Urunler>)ViewBag.SonUrunler)
        {
            <div class="col-md-4" style="border:1px solid #808080; background-color:#a7cfc7">
                <h5>@item.UrunAdi</h5>
                <img src="~/IMG/@(item.UrunID).jpg" style="max*width:100px; height:100px;" />
                <p><a class="btn btn-default" href="@Url.Action("UrunDetay","Home",new { id = item.UrunID })">Ürün Detay &raquo;</a><span style="color:red; float:right; font-weight:bold;font-size:16px;">@item.UrunFiyati TL</span></p>
            </div>
        }
    </div>
</div>

