@using E_ticaret.Models;
@{
    ViewBag.Title = "UrunDetay";
}

<h2>UrunDetay</h2>

<div class="row">
    <div class="col-md-3">
        <h4>Kategoriler</h4>
        <ul>
            @foreach (var item in (List<Kategori>)ViewBag.KategoriListesi)
            {
                <li>@Html.ActionLink(item.Kategoriadi, "Kategori", new { id = item.KategoriID })</li>
            }
        </ul>
    </div>
    <div class="col-md-9">
        <h2>Ürün Adı</h2><br />
        <h3>Model.UrunAdi</h3>
        <div class="row">
            <img src="~/IMG/@(Model.UrunID).jpg" style="width:100px; height:100px; background-size:cover" />
            Ürün Fiyati:<span style="color:red;font:bold;font-size:15px;">@Model.UrunFiyati</span> <br />
            <form action="/Sepets/SepeteEkle">
                <input type="hidden" name="id" id="id" value="@Model.UrunID" />
                <input type="submit" id="gonder" value="Sepete Ekle" />
            </form>
        </div>
    </div>
</div>